@model List<GBC_Travel_Group_40.Models.RoomBookings>

@{
    ViewData["Title"] = "RoomBooking List";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary">Create New RoomBooking</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name Of Holder</th>
            <th>Phone Of Holder</th>
            <th>Room Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roomBooking in Model)
        {
            <tr>
                <td>@roomBooking.RoomBookingId</td>
                <td>@roomBooking.NameOfHolder</td>
                <td>@roomBooking.PhoneOfHolder</td>
                <td>@roomBooking.RoomId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@roomBooking.RoomBookingId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@roomBooking.RoomBookingId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@roomBooking.RoomBookingId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
